body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 100px;
}

.PortafolioPag{
    position: relative;
    width: 1440px;
    margin: 0 auto;
}

.Encabezado {
    width: 1440px;
    height: 100px;
    position: relative;
}

.Rectangle1 {
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #1A0341;
}

.botones {
    width: 500px;
    height: 51px;
    position: relative;
    left: 780px;
    
}

.boton{
    background-color:grey;
    position: absolute;
    height: 51px;
    width: 166px;
    cursor: pointer;
    z-index: 3;
    border: none;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Fondamento;
    font-weight: 400;
    word-wrap: break-word;  
}

.inicioboton {
    position: absolute;
    left: 10px;
    top: 20px;
}

.portafolioboton{
    position: absolute;
    left: 193px;
    top: 20px;
}

.contactoboton {
    position: absolute;
    left: 376px;
    top: 20px;
}

.Line30 {
    width: 100px;
    height: 0px;
    left: 1000px;
    top: 80px;
    position: absolute;
    border: 5px white solid;
}

.Ellipse6 {
    width: 70px;
    height: 70px;
    left: 37px;
    top: 13px;
    position: absolute;
    border-radius: 9999px;
}

.Opciones {
    width: 70.17px;
    height: 36px;
    left: 1344.94px;
    top: 30.50px;
    position: absolute;
}

.Line40, .Line50, .Line60 {
    position: absolute;
    border: 2px white solid;
}

.Line40 {
    width: 70.11px;
    height: 0px;
    left: 0px;
    top: 0px;
}

.Line60 {
    width: 70.11px;
    height: 0px;
    left: 0.06px;
    top: 36px;
}

.Line50 {
    width: 65px;
    height: 0px;
    left: 2.06px;
    top: 18px;
}



.Previadestacados {
    width: 1440px;
    height: 808px;
    position: relative;
}

.Rectangle16 {
    width: 1440px;
    height: 808px;
    left: 0px;
    top: 0px;
    position: absolute;
    box-shadow: 16.6px 16.6px 16.6px;
    filter: blur(7px);
}

.Descarga {
    width: 355px;
    height: 77px;
    left: 543px;
    top: 683px;
    position: absolute;
}

.Rectangle20 {
    width: 355px;
    height: 74px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(4, 0, 25, 0.73);
    filter: blur(1px);
}

.Download {
    width: 355px;
    height: 77px;
    left: 0px;
    top: 15px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

.Textodestacados {
    width: 632px;
    height: 354px;
    left: 71px;
    top: 282px;
    position: absolute;
}

.Rectangle18 {
    width: 632px;
    height: 354px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(97, 192, 200, 0.38);
}

.Texto {
    width: 631px;
    height: 347px;
    left: 1px;
    top: 7px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: 'Karma', serif;
    font-weight: 700;
    word-wrap: break-word;
}

.Proyectos {
    width: 632px;
    height: 90px;
    left: 73px;
    top: 162px;
    position: absolute;
}

.Rectangle19 {
    width: 632px;
    height: 90px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(97, 192, 200, 0.38);
}

.ProyectosDestacados {
    width: 632px;
    height: 90px;
    left: 0px;
    top: 0px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Karma', serif;
    font-weight: 700;
    word-wrap: break-word;
}

.Previasection {
    width: 504px;
    height: 504px;
    left: 777px;
    top: 132px;
    position: absolute;
}

.Rectangleprevia {
    width: 504px;
    height: 99px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #FDFDFD;
    border: 5px black solid;
}

.Imgprevia {
    width: 501px;
    height: 405px;
    left: 3px;
    top: 99px;
    position: absolute;
}

.Previa {
    width: 504px;
    height: 80px;
    left: 0px;
    top: 10px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: 'Karma', serif;
    font-weight: 700;
    word-wrap: break-word;
}

.botonDescarga{
    cursor: pointer;
}




.Allprojects {
    width: 1440px;
    height: 247px;
    position: relative;
    z-index: 1;
}

.Rectangle17 {
    width: 1440px;
    height: 247px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #0D0022;
    border: 6px white solid;
}

.TodosLosProyectos {
    width: 702px;
    height: 139px;
    left: 369px;
    top: 90px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}



.Projects {
    width: 1440px;
    height: 1561px;
    position: relative;
}

.Rectangle21 {
    width: 1440px;
    height: 1561px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #74706F;
}

.Fondoblur {
    width: 1333px;
    height: 1415px;
    left: 58px;
    top: 64px;
    position: absolute;
    box-shadow: 8.5px 8.5px 8.5px;
    filter: blur(4.5px);
}

.Proyecto1, .Proyecto2, .Proyecto3, .Proyecto4 {
    width: 533px;
    height: 557px;
    position: absolute;
    object-fit: cover;
}

.Proyecto1 {
    left: 86px;
    top: 141px;
}

.Proyecto2 {
    left: 764px;
    top: 141px;
}

.Proyecto3 {
    left: 86px;
    top: 839px;
}

.Proyecto4 {
    left: 764px;
    top: 839px;
}

.Project1 {
    width: 500px;
    height: 500px;
    left: 33px;
    top: 0px;
    position: absolute;
    border: 8px rgba(144, 179, 223, 0.71) solid;
}

.Rectangle23 {
    width: 525px;
    height: 114px;
    left: 0px;
    top: 443px;
    position: absolute;
    background: #0D0022;
}

.ProjectGame, .ProjectDiorama, .Project3d, .ProjectTexture {
    width: 515px;
    height: 112px;
    left: 0px;
    top: 445px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 700;
    word-wrap: break-word;
}


.PieDePagina {
    width: 1440px;
    height: 200px;
    position: relative;
}

.Rectangle15 {
    width: 1440px;
    height: 200px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #04001A;
}

.Copyright {
    width: 734px;
    height: 84px;
    left: 338px;
    top: 80px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Karma;
    font-weight: 700;
    word-wrap: break-word;
}